body, html
{
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: black;
}

div
{
    display: block;
}

.searchCriteria
{
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: white;
    width: 25%;
    position: absolute;
    left: 0;
    text-align: center;
}

.searchResults 
{
    position: absolute;
    height: 100%;
    width: 68%;
    left: 28%;
    padding: 20px;
    border-radius: 20px;
}
.results
{
	background-color: white;
	margin: auto;
	border: 1px solid black;
	width: 50%;
	padding: 5px, 0;
}

#returnDateEffect
{
    position: relative;
}